# Superstore Data Analysis 
### Today I am going to work on Superstore dataset. Analyse the data by **R** and get some usefull insights about the data.

#### firstly set up the working directory

In [ ]:
# to see the current working directory
getwd()

##### now let jump in the pull off data

In [ ]:
# importing the data -- I will always take the master dataset in variable = ** x **
x <- read.csv("superstore.csv")

In [ ]:
# View(x)

## Explore the data
#### understand the data

##### before analysis or anyother steps, I have to understan everything about the data. it is most important steps before to drive deep insights. In this steps I will explore everything about this dataset.

In [ ]:
# importing all the libraries what I need the most 
library(tidyverse)
library(here)
library(skimr)

In [ ]:
# see some trailer 
# head(x)
# tail(x)

In [ ]:
# first good look of dataset with tidy manner
# View(x)

##### now its time to deeply understnd the dataset

In [ ]:
# see the dimenstion of the dataset
dim(x)

##### wooow ! the dataset have 9994 observations and 22 variables

In [ ]:
# let see how many variable are there
length(x)

In [ ]:
# let see all the names of the 22 variables 
names(x)

In [ ]:
# let rename all the variable name to smaller case
names(x) <- tolower(names(x))

In [ ]:
# let see what is the structure, variable name and datatype of variables 
glimpse(x)

##### wow ! there is 9994 observations and 22 variables

In [ ]:
# let point it out all the improper datatype of variable. this all I have to change at cleaning process
class(x$order_date)
class(x$ship_date)
class(x$sales)

In [ ]:
# do some prove for no of obs.
length(x$profit)
length(x$segment)
length(x$discount)

##### let see some on the segment data

In [ ]:
# let see the unique values in some variable matrix
unique(x$segment)

In [ ]:
# let see the frequency of the segment variable
table(x$segment)

In [ ]:
desc(sort(table(x$segment)))

In [ ]:
# let see with tidy manner
View(sort(table(x$segment),decreasing = TRUE))

In [ ]:
# let see by graph 
barplot(sort(table(x$segment),decreasing = TRUE))

In [ ]:
# let see the ship_mode matrix
desc(table(x$ship_mode))

In [ ]:
# let observe by grap of ship mode
barplot(table(x$ship_mode))

In [ ]:
# let see the state matrix
desc(table(x$state))

In [ ]:
#let see the region vector
barplot(table(x$region))

In [ ]:
# let see the category vecto
desc(table(x$category))

In [ ]:
# let see category vector by graph
barplot((table(x$category)))

In [ ]:
# let see the sub_category vector
desc(table(x$sub_category))

##### **NULL values** 
###### it is very important to see the NULL / NA values in the data set . for larger number of frequency I have to take some another steps to identify those NULL values.

In [ ]:
x[is.na(x$order_date), ]

In [ ]:
x[is.na(x$order_date), ]

In [ ]:
x[is.na(x$customer_id), ]